:root{
    --firstColor: #a82ec0;
    --firstColorSecond: #772177;
    --titleColor: rgb(0, 0, 0);
    --inputColor: #e4e4e4;
    --scrollBarColor:hsl(var(--hueColor),12%,90%);
    --scrollThumbColor:hsl(var(--hueColor),12%,76%);
}
body.dark_theme{
    --textColor:rgb(134, 132, 132);
    --titleColor:white;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 0;
}
html{
    scroll-behavior: smooth;
}
h4{
    margin-bottom: 1.6rem;
}
.div__login{
    width: 25rem;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: -2px 2px 2px 2px rgba(0,0,0,0.75);
}
.button__login{
    width: 100%;
}
.section__login{
    margin-top: 3rem;
    margin-bottom: 5.6rem;
}